.label {
    -fx-font-size: 14px; /* Sets the font size of labels to 14 pixels */
    -fx-font-weight: bold; /* Makes the text of labels bold */
}

.button {
    -fx-font-size: 14px; /* Sets the font size of buttons to 14 pixels */
}

.checkbox {
    -fx-font-size: 14px; /* Sets the font size of checkboxes to 14 pixels */
}
